/* general styles */
@import url('https://fonts.googleapis.com/css?family=Montserrat:500,700');

@font-face {
  font-family: 'Aleksa';
  src: url('../fonts/aleksa-bold.ttf');
}

body {
  background-color: rgb(243, 244, 246);
  -ms-overflow-style: none;
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none;
}

*::selection {
  background-color: transparent;
}

body,
p {
  width: 100%;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  margin: 0;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: black;
}

a:hover:not(.header__social-link) {
  color: rgb(247, 38, 38);
}

button {
  cursor: pointer;
}

.container {
  padding: 0 10px;
}

.heading-h2 {
  font-family: 'Aleksa', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 900;
  font-size: 35px;
  line-height: 48px;
  text-align: center;
  color: rgb(0, 0, 0);
  margin: 30px auto;
  position: relative;
  box-sizing: border-box;
}

.heading-h3 {
  margin: 30px auto;
  font-family: 'Aleksa', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  font-size: 25px;
  line-height: 34px;
  text-align: center;
  color: rgb(0, 0, 0);
}

.text-montserrat {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: normal;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  color: rgb(34, 34, 34);
}

.text-aleksa {
  font-family: 'Aleksa', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 27px;
  text-align: center;
  text-decoration: none;
}

.button-red-l {
  display: block;
  /* margin: 0 auto; */
  width: 100%;
  height: 52px;
  box-sizing: border-box;
  border: none;
  border-radius: 12px;
  background-color: rgb(247, 38, 38);
  color: rgb(255, 255, 255);
  line-height: 52px !important;
  cursor: pointer;
}

.button-red-m {
  display: block;
  /* margin: 20px auto; */
  width: 250px;
  height: 52px;
  box-sizing: border-box;
  border: none;
  border-radius: 12px;
  background-color: rgb(247, 38, 38);
  color: rgb(255, 255, 255);
  line-height: 52px !important;
  cursor: pointer;
}

.button-red-l:hover,
.button-red-m:hover {
  background-color: black;
}

.button-black-l {
  display: block;
  width: 100%;
  height: 40px;
  margin: 20px auto;
  border: none;
  border-radius: 10px;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  line-height: 40px !important;
  cursor: pointer;
}

.button-black-m {
  display: block;
  height: 40px;
  /* margin: 30px auto; */
  padding: 0 20px;
  border: none;
  border-radius: 10px;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  font-size: 20px;
  cursor: pointer;
}

.button-white-l {
  display: block;
  width: 100%;
  height: 53px;
  margin: 20px 0;
  border: none;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  cursor: pointer;
}

.button-black-l:hover,
.button-black-m:hover,
.button-white-l:hover {
  background-color: rgb(247, 38, 38) !important;
}
.mint-block__footer .button-black-m:hover,
.mint-block__footer .button-black-l:hover {
  background-color: white !important;
  color: black;
}
.mint-block__footer .button-black-m:hover img,
.mint-block__footer .button-black-l:hover img {
  background-color: black !important;
}

.color-w {
  color: rgb(255, 255, 255);
}

.color-r {
  color: rgb(247, 38, 38);
}

.color-b {
  color: rgb(0, 0, 0);
}

progress::-webkit-progress-value,
progress::-moz-progress-bar,
progress {
  background: rgb(247, 38, 38);
  color: rgb(247, 38, 38);
}

/* header */
.header {
  position: relative;
  height: auto;
  width: 100%;
}

.header__preview {
  width: 100%;
  background-image: url(../images/header-background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* padding-bottom: 30px; */
  position: relative;
}

.header__navbar {
  display: contents;
}

.header__logo-title {
  display: inline-block;
  width: 100px;
  text-align: left;
  line-height: 24px;
}

.header__nav-container {
  display: none;
}

.header--menu-open .header__nav-container {
  display: flex;
  order: 1;
  width: 100%;
  flex-direction: column;
  margin: 50px 0 0;
  padding: 0 10px;
}

.header--menu-open {
  height: 100vh;
  background-color: rgb(0, 0, 0);
}

.header__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px 10px 80px;
}

.header__logo {
  position: relative;
  /* margin: 0 0 0 12px; */
}

.header__lang-container {
  display: flex;
  flex-direction: row;
  width: auto;
  justify-content: flex-start;
}

.header__lang {
  border: none;
  background: none;
  color: rgb(122, 122, 122);
  margin-right: 30px;
  padding: 0;
  font-size: 18px;
  justify-content: flex-start;
  width: 40px;
}

.header__lang:last-child {
  margin: 0;
}

.header__lang-show {
  display: none;
}

.header__lang:hover,
.header__lang--active {
  color: rgb(255, 255, 255);
}

.header--menu-open .header__social {
  display: flex;
  flex-direction: row;
  order: 2;
  position: absolute;
  bottom: 30px;
  left: 0;
  width: 100%;
  justify-content: center;
}

.header__social-name {
  text-decoration: none;
  font-size: 15px;
}

.header--menu-open .header__social .header-player__album-button {
  border: none;
  margin: 0;
  font-size: 15px;
  position: relative;
  margin-right: 40px;
  width: auto;
}

.header--menu-open .header__social .header-player__album-button::after {
  content: '';
  display: block;
  width: 1px;
  height: 15px;
  background-color: rgb(122, 122, 122);
  position: absolute;
  right: -20px;
  top: 10px;
}

.header--menu-open .header__social-link svg,
.header--menu-open .header__social .header-player__album-button svg {
  margin: 0 15px 0 0;
}

.header--menu-open .header__social-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
}

.header__social-name {
  display: none;
}

.header__social {
  margin: 0 10px 0;
  /* display: flex; */
  display: none;
}

.header__social .header-player__album-button {
  display: none;
  position: relative;
}

.header__social-link {
  display: block;
  width: 20px;
  height: 20px;
  color: white;
}

.header__social-link:not(:first-child) {
  margin-left: 20px;
}

.header__social-link svg,
.header__social-link img {
  width: 24px;
  height: 24px;
}

.header__menu-button {
  border: none;
  background: none;
  width: 60px;
  padding: 0;
}

.header__menu-cross,
.header--menu-open .header__menu-burger {
  display: none;
}

.header__menu-burger,
.header--menu-open .header__menu-cross {
  display: block;
}

.header__menu-cross svg {
  color: white;
}

.header__menu-burger-item {
  width: 40px;
  height: 2px;
  background-color: rgb(255, 255, 255);
  margin: 0 0 10px 0;
}

.header__menu-burger-item:last-child {
  margin: 0;
}

.header--menu-open .header__player {
  display: none;
}

.header__player {
  margin: 70px auto 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.header__open-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header__toggle-line {
  display: inline-block;
  background-color: rgb(255, 255, 255);
  width: 40px;
  height: 2px;
  box-sizing: border-box;
}

.header__toggle-line:first-of-type {
  margin-bottom: 10px;
}

.header__navigation {
  position: relative;
  padding: 40px 20px;
  height: calc(100% - 84px);
  box-sizing: border-box;
  display: none;
}

.header__nav-h3 {
  text-align: left;
}

.header__nav {
  padding: 30px 0 0;
}

.header__nav-list {
  margin: 0;
  padding: 0 0 0 35px;
  list-style: none;
}

.header__nav-item {
  text-align: left;
  margin: 0 0 15px 0;
  position: relative;
}

.header__nav-item a {
  font-weight: 700;
}

.header__nav-item::before {
  content: '';
  display: block;
  width: 20px;
  height: 2px;
  position: absolute;
  left: -35px;
  top: 9px;
  background-color: rgb(247, 38, 38);
}

.header__links {
  position: absolute;
  bottom: 30px;
  width: calc(100% - 60px);
  display: flex;
  justify-content: space-between;
}

.header__link {
  font-size: 15px;
  display: flex;
  align-content: center;
}

.header__link img {
  margin: 0 12px 0 0;
}

.header--open .header__navigation,
.header--open .header__close-button {
  display: block;
}

.header--open .header__open-button {
  display: none;
}

.header-player__cover {
  width: 280px;
  height: 280px;
  border-radius: 20px;
}

.header-player__control {
  position: absolute;
  background: none;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 2px solid rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  top: 100px;
  z-index: 1;
}

.header-player__control svg {
  color: white;
  width: 33px;
  height: auto;
  margin-left: 5px;
}

.header-player__control-item {
  width: 8.33px;
  height: 28.16px;
  border-radius: 50% / 10%;
  background-color: rgb(255, 255, 255);
  margin: 0 4.17px;
}

.header-player__title-container {
  margin: 30px 0 0;
}

.header-player__title {
  font-size: 28px;
  line-height: 38.17px;
  text-align: center;
  margin-bottom: 15px;
  color: rgb(255, 255, 255);
}

.header-player__mixtape-container {
  display: none;
}

.header-player__mixtape-by {
  display: none;
}

.header-player__album-button {
  width: fit-content;
  height: 36px;
  padding: 0 30px;
  display: flex;
  margin: 0 auto;
  padding-bottom: 2px;
  border-radius: 18px;
  border: 1px solid rgb(255, 255, 255);
  box-sizing: border-box;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 15px;
  background-color: rgb(0, 0, 0);
}

.header-player__album-button img {
  margin: 0 10px 0 0;
  height: 24px;
  width: 24px;
}

.header-player__description {
  /* display: none; */
  margin: 50px 0;
  line-height: 24px;
}

.header-player__mint-button {
  margin-bottom: 0;
  border-radius: 10px;
  font-size: 18px;
}

.twitter-comment {
  display: none;
}

.header__video {
  display: none;
}

.header__spectrum {
  display: flex;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.header__spectrum-inactive,
.header__spectrum-active {
  cursor: pointer;
}

.header__spectrum img {
  width: 100%;
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.header__spectrum-duration {
  display: block;
  position: absolute;
  right: 3px;
  bottom: -3px;
  opacity: 0.22;
  font-size: 10px;
}

.header__spectrum-reverse {
  transform: translateY(100%);
}

/* mission */
.mission {
  padding: 20px 0 0;
  margin: 0 0 50px;
}

.mission__title {
  font-size: 35px;
  font-weight: 900;
  line-height: 48px;
  text-align: center;
  margin: 0 0 30px;
}

.mission__description {
  margin: 0 0 24px;
}

.mission__link {
  color: rgb(247, 38, 38);
  text-transform: uppercase;
  /* text-align: left; */
  display: inline-block;
  /* margin-top: 20px; */
}

.mission__block {
  /* padding-bottom: 30px; */
  border-bottom: 1px solid rgb(215, 215, 215);
}

.mission__block:last-of-type {
  border-bottom: none;
}

.mission__block-button {
  margin-bottom: 60px;
}

.mission__h3 {
  margin-bottom: 15px;
}

.mission__p {
  margin-bottom: 30px;
  font-weight: normal;
}

.mission__video-container,
.react-player__preview {
  width: 100%;
  height: 600px;
  margin: 20px 0;
  border-radius: 20px;
  position: relative;
  /* background-image: url(../images/video-preview.png); */
}

.mission__play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  background: none;
}

.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  background: none;
}

.play-button img {
  width: 83.56px;
  height: 83.56px;
}

/* banner */
.banner {
  margin: 0 0 50px;
}

.banner__container {
  border: 43px solid transparent;
  border-image: url(../images/national-border.png) 43 repeat;
  border-left: none;
  border-right: none;
  background-color: rgb(247, 38, 38);
  padding: 20px 10px 30px;
}

.banner__container-button {
  margin: 20px auto 30px;
}

.banner__p {
  margin-bottom: 20px;
}

/* mint-block */
.mint-block {
  padding: 20px 0;
}

.mint-block .container {
  padding: 0;
}

.mint-block__heading {
  line-height: 34px;
}

.mint-block__hashtag {
  color: rgb(247, 38, 38);
  font-size: 25px;
  /* font-weight: 700; */
  display: block;
  text-transform: uppercase;
}

.mint-block__statistic {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-grow: 1;
  /* width: 100%; */
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
  position: relative;
  z-index: 1;
  padding: 0 10px;
}

.mint-block__container {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-grow: 1;
  border-bottom: 1px solid rgb(244, 244, 244);
  padding: 20px 10px;
  box-sizing: border-box;
}

.mint-block__album-cover {
  border-radius: 20px;
  height: 150px;
  width: 150px;
}

.mint-block__h3 {
  margin: 20px 0 8px;
}

.mint-block__table-container {
  padding: 10px;
}

.mint-block__donate-table {
  width: 100%;
  font-size: 15px;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  border-collapse: separate;
  border-spacing: 0 10px;
}

.mint-block__donate-table tbody {
  width: 100%;
}

.mint-block__donate-table tr {
  margin: 10px 0;
  height: 34px;
}

.mint-block__donate-table td:nth-child(1),
.mint-block__result-table th:nth-child(1),
.mint-block__result-table td:nth-child(1) {
  text-align: left;
}

.mint-block__donate-table td:nth-child(2),
.mint-block__result-table th:nth-child(2),
.mint-block__result-table td:nth-child(2) {
  text-align: right;
}

.mint-block__table-value {
  padding: 8px 10px;
  background-color: rgb(244, 244, 244);
  border-radius: 10px;
}

.mint-block__total-container {
  padding: 10px 10px 20px;
  border-bottom: 1px solid rgb(244, 244, 244);
  margin-bottom: 20px;
}

.mint-block__result-table {
  width: 100%;
  font-size: 15px;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  border-collapse: separate;
  border-spacing: 0 10px;
}

.mint-block__donate-bar {
  width: 100%;
  height: 10px;
  border: none;
  border-radius: 5px;
  margin: 10px auto 0;
}

.mint-block__donate-bar::-webkit-progress-bar {
  border-radius: 5px;
  background: rgb(244, 244, 244);
}

.mint-block__donate-bar::-webkit-progress-value {
  border-radius: 5px;
  background-color: rgb(247, 38, 38);
}

.mint-block__donate {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.mint-block__donate .button-red-m {
  margin: 20px 0 10px;
}

.mint-block__button {
  margin: 0 0 20px 10px;
  cursor: pointer;
  max-width: 90%;
}

.mint-block__account-button {
}

.mint-block__opensea {
  background: black;
  padding: 8px;
  border: none;
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  margin: 0 10px 20px 0;
  border-radius: 100%;
  position: absolute;
  bottom: 0;
  right: 10px;
}

.mint-block__footer-hidden {
  transform: translateY(-90%);
  max-height: 0;
}

.mint-block__footer {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  width: 100%;
  overflow: hidden;
  position: relative;
  top: -20px;
  transition: 1s ease-in-out;
}

.mint-block__footer-container {
  box-sizing: border-box;
  min-height: 180px;
  border-bottom: 43px solid transparent;
  border-image: url(../images/national-border.png) 43 repeat;
  background-color: rgb(247, 38, 38);
  padding: 20px 20px 0;
}

.mint-block__connect-wallet-button,
.mint-block__connect-wallet button {
  margin: 30px auto;
  height: 64px;
  cursor: pointer;
}

.mint-block__quantity {
  display: block;
  flex-direction: row;
  flex-wrap: nowrap;
  box-sizing: border-box;
  align-items: center;
  padding: 30px 0;
}

.mint-block__quantity-counter {
  font-size: 25px;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.mint-block__quantity-counter-title {
  display: block;
  width: 100%;
  margin-bottom: 20px;
}

.mint-block__mint-button {
  height: 64px;
  margin: 0 0 0 auto;
  width: 100%;
  cursor: pointer;
}

.mint-block__counter-button {
  border: none;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  width: 50px !important;
  height: 50px !important;
  font-size: 40px;
  line-height: 50px;
  max-width: 50px !important;
  cursor: pointer;
  color: black;
}

.mint-block__counter-button--minus {
  /* margin-left: 30px; */
}

.mint-block__counter-button--plus {
  /* margin-right: 30px; */
}

.mint-block__counter-value {
  width: 40px;
}

.mint-block__loading {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 42px;
}

@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.mint-block__loader {
  animation: lds-roller 1.2s cubic-bezier(0.69, 0, 0.44, 1) infinite;
  margin-right: 10px;
  color: white;
  width: 30px;
  height: 30px;
}

.mint-block__loading-span {
  font-size: 25px;
  margin-left: 10px;
  font-size: 16px;
}

.mint-block__tx-fail {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px 0;
  line-height: 70px;
}

.mint-block__tx-fail-span {
  font-size: 20px;
  margin-left: 10px;
}

.mint-block__tx-fail-button {
  height: 64px;
  cursor: pointer;
  width: 100%;
  margin: 15px 0 0;
}

.mint-block__complete {
  padding: 30px 0;
}

.mint-block__transaction {
  display: flex;
  justify-content: center;
  flex-direction: row;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  flex-wrap: wrap;
}

.mint-block__thanks {
  /* font-size: 25px; */
  margin: 0 0 20px;
  text-align: left;
}

.mint-block__thanks-container {
  text-align: left;
  padding: 0 0 20px 0;
}

.mint-block__thanks-transaction {
  font-size: 18px;
  font-weight: 500;
  text-align: left;
}

.mint-block__transaction-code {
  background-color: rgb(244, 244, 244);
  border-radius: 10px;
  color: rgb(0, 0, 0);
  line-height: 0;
  padding: 8px;
  margin: 0 10px;
}

.mint-block__transaction a {
  margin-bottom: 20px;
}

.mint-block__see-on {
  width: 80vw;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 0 auto;
  color: white;
}

.mint-block__see-on img {
  margin-left: 15px;
  width: 33px;
  height: 33px;
  padding: 5px;
  border-radius: 50%;
}

.mint-block__comment {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-grow: 1;
  border-bottom: 1px solid rgb(244, 244, 244);
  padding: 20px 10px;
  box-sizing: border-box;
}

.mint-block__comment-nft {
  justify-content: center;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.mint-block__comment-album {
  border-radius: 20px;
  height: 150px;
  width: 150px;
  margin-bottom: 10px;
}

.mint-block__h3 {
  margin: 20px 0 8px;
}

.mint-block__nft-title {
  width: 350px;
  /* font-size: 25px; */
  /* text-align: left; */
  line-height: 30px;
  margin-bottom: 20px;
}

.mint-block__nft-title p {
  font-size: 25px;
  line-height: 40px;
  /* text-align: left !important; */
  margin-top: 5px;
}

.mint-block__comment-leave {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mint-block__comment-leave p {
  font-size: 15px;
  width: 250px;
}

.mint-block__comment-button {
  margin: 0 0 10px 0;
  width: 305px;
  height: 64px;
}

.mint-block__social {
  padding-top: 20px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.mint-block__social p {
  max-width: 600px;
  text-align: left;
  margin-bottom: 30px;
}

.mint-block__social-link {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: none;
  background-color: rgb(0, 0, 0);
  padding: 5px 0 0;
}

.mint-block__social-link:not(:first-child) {
  margin-left: 30px;
}

.mint-block__social-link svg,
.mint-block__social-link img {
  width: 25px;
  height: 25px;
  color: white;
}

.container-w {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex-grow: 1;
  padding: 0 10px;
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
}

/* audience */
.audience {
  margin: 0;
}

.audience__heading {
  margin-top: 0px;
  padding: 50px 0 0;
  border-top: 1px solid rgb(215, 215, 215);
}

.audience__p {
  font-size: 15px;
  margin: 30px 0;
}

.audience__donators-list {
  width: 100%;
  font-size: 13px;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  border-collapse: separate;
  border-spacing: 0 10px;
  table-layout: auto;
}

.audience__donators-list tbody {
  width: 100%;
}

.audience__donators-list tr {
  background-color: rgb(244, 244, 244);
  height: 30px;
}

.audience__donators-list tr td:first-of-type {
  border-radius: 20px 0 0 20px;
}

.audience__donators-list tr td:first-of-type,
.audience__donators-list tr td:last-of-type,
.audience__donators-list tr td:nth-of-type(3) {
  border: none;
  padding: 10px;
  width: 1%;
  white-space: nowrap;
}

.audience__donators-list tr td:last-of-type {
  border-radius: 0 20px 20px 0;
  padding: 10px 10px 10px 0;
}

.audience__donators-list tr td:last-of-type span {
  display: inline-block;
  padding: 8px 10px;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  box-sizing: border-box;
}

.audience__donators-list tr td:nth-of-type(3) span {
  display: inline-block;
  padding: 8px 10px;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  width: 70px;
  box-sizing: border-box;
}

.auience__donator-avatar {
  display: flex;
  justify-content: center;
}

.audience .container-w {
  padding: 10px 10px 0 10px;
}

.audience__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.audience__item {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  background-color: rgb(243, 244, 246);
  border-radius: 20px;
  height: 52px;
  box-sizing: border-box;
  margin: 0 0 10px 0;
}

.audience__item:nth-of-type(n + 6) {
  display: none;
}

.audience__item a {
  display: contents;
}

.audience__avatar {
  margin-right: 10px;
  width: 30px;
  height: 30px;
  border-radius: 100%;
}

.audience__name {
  font-size: 15px;
  width: 100%;
  text-align: left;
}

.audience__span {
  border-radius: 16px;
  background-color: rgb(255, 255, 255);
  box-sizing: border-box;
  padding: 8px 10px;
  font-size: 13px;
  font-weight: 700;
  display: inline-block;
  height: 32px;
  line-height: 1.25;
  margin: 0 0 0 5px;
}

.audience__span-address {
  display: none !important;
}

/* who we are */
.team {
  margin: 70px 0 40px;
}

.team .popup__member-card-container {
  display: none;
}

.team__gallery {
  width: 100%;
  margin: 0 auto 30px;
  text-align: center;
  overflow-x: scroll;
}

.team__gallery::-webkit-scrollbar {
  width: 0;
}

.team__gallery-container {
  width: calc(85vw * 7);
  display: flex;
  position: relative;
  margin: auto;
  /* height: 420px; */
  box-sizing: border-box;
  /*overflow-x: scroll;*/
  overflow-y: hidden;
  /* padding: 0 calc((100% - 300px) / 2); */
  padding: 15px;
}

.team__gallery-item,
.team__gallery-item--active {
  display: inline-block;
  position: relative;
  border-radius: 20px;
  margin: 0 15px 0 0;
  /* background-image: url(../images/team/photo.jpg); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 85vw;
  height: 420px;
  color: rgb(255, 255, 255);
  transition: 0.3s;
}

.team__gallery-item--active a {
  display: block;
}

.team__gallery-img {
  border-radius: 20px;
}

.team__gallery-member-name {
  position: absolute;
  left: 20px;
  bottom: 45px;
  margin: 0;
  font-size: 25px;
}

.team__gallery-member-position {
  position: absolute;
  left: 20px;
  bottom: 20px;
  margin: 0;
  color: rgba(255, 255, 255, 0.8);
  font-weight: 500;
}

.team__team {
  box-sizing: border-box;
  position: relative;
  text-align: left;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 0 0 0 18px;
  margin: 0 0 30px 0;
}

.team__team::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 3px;
  height: 100%;
  border-radius: 1.5px;
  background-color: rgb(247, 38, 38);
}

.team__team-button {
  height: 52px;
}

.popup__member-social {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 50px;
  height: 50px;
  padding: 5px 0 0;
  border-radius: 50%;
  border: none;
  background-color: rgba(0, 0, 0, 0.2);
}

.popup__member-social:hover {
  cursor: pointer;
  background-color: rgb(247, 38, 38);
}

.popup__member-social svg {
  color: white;
  width: 30px;
  height: 30px;
}

.main-bottom {
  margin: 0 auto 60px;
}

/* faq */
.faq {
}

.faq__heading {
  margin-top: 0;
  padding-top: 50px;
  border-top: 1px solid rgb(215, 215, 215);
}

.faq__question {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  align-items: center;
  margin: 0;
}

.faq__question-container {
  margin: 10px 0;
  padding: 15px 20px;
}

.faq__question-container footer {
  display: none;
}

.faq__question-container:last-of-type {
  margin: 10px 0 0;
}

.faq__question h5 {
  margin: 0;
  text-align: left;
  max-width: calc(100% - 57.5px);
}

.faq__question-toggle {
  width: 30px;
  height: 30px;
  line-height: 30px;
  border: none;
  border-radius: 10px;
  box-sizing: border-box;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  justify-content: center;
  cursor: pointer;
  font-size: 24px;
}

.faq__question-container--open .faq__question-toggle {
  background-color: rgb(247, 38, 38);
}

.faq__question-toggle .toggle-plus,
.faq__question-container--open .faq__question-toggle .toggle-minus {
  display: block;
}

.faq__question-toggle .toggle-minus,
.faq__question-container--open .faq__question-toggle .toggle-plus {
  display: none;
}

.faq__question-container--open footer {
  display: block;
  margin: 10px 0;
}

.faq p {
  font-size: 15px;
  text-align: left;
  margin: 15px 0;
  word-break: break-word;
}

.faq p:last-of-type {
  margin: 0;
}

.border {
  width: calc(100% - 20px);
  margin: 50px auto;
  height: 1px;
  background-color: rgb(215, 215, 215);
}

/* twitter */
.twitter {
}

.twitter__container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.twitter__header.heading-h2 {
  margin: 0;
  width: 100%;
}

.twitter__button {
  width: 60px;
  height: 40px;
  border-radius: 10px;
  border: none;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  cursor: pointer;
}

.twitter__link {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.twitter__link svg {
  color: deepskyblue;
}

.twitter__link-text {
  display: none;
}

.twitter__tweets {
  margin-top: 30px;
  width: 100%;
}

.twitter__tweet {
  padding: 20px;
  margin: 0;
}

.twitter__tweet:nth-child(n + 2) {
  display: none;
}

.twitter__dots-list {
  display: flex;
  justify-content: center;
  padding: 0;
  list-style: none;
  width: 100%;
}

.twitter__dot {
  width: 10px;
  height: 10px;
  margin: 0 10px;
  border-radius: 50%;
  background-color: rgb(215, 215, 215);
}

.twitter__dot--active {
  background-color: rgb(247, 38, 38);
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__heart {
  display: block;
  margin: 0 auto;
}

.footer__title {
  margin: 20px auto 10px;
  font-size: 25px;
}

.footer__copyrights {
  /* margin: 0 10px 13px; */
}

.footer__rights {
  font-size: 15px;
  margin: 0 0 30px;
}

.footer__social {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: 40px 0 20px;
}

.footer__social-link {
  display: block;
  width: 60px;
  height: 50px;
  /*border: 1px solid rgb(215, 215, 215);*/
  border-radius: 50%;
  margin: 0 15px;
  padding: 14px 0 0;
  box-sizing: border-box;
  text-align: center;
}

.footer__social-link:not(last-of-type) {
  margin: 0 10px 0 0;
}

.footer__social-link svg,
.footer__social-link img {
  width: 35px;
  height: 35px;
  color: black;
}

.footer__social-link .opensea {
  width: 25px;
  height: 25px;
  padding: 6px;
  background: black;
  border-radius: 100%;
}

.footer-player {
  position: fixed;
  bottom: 0;
  /* margin: 65px 0 0; */
  width: 100%;
  height: 90px;
  box-sizing: border-box;
  background-color: rgb(0, 0, 0);
  padding: 15px 0;
  z-index: 9999;
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.footer-player__progress {
  position: absolute;
  top: -15px;
  width: 100%;
}

.footer-player__progress-bar {
  width: 100%;
  height: 5px;
  border: none;
}

.footer-player__progress-bar::-webkit-progress-bar {
  background: rgb(215, 215, 215);
}

.footer-player__progress-bar::-webkit-progress-value {
  background-color: rgb(247, 38, 38);
}

.footer-player__marker {
  position: absolute;
  top: 4.5px;
  width: 20px;
  height: 20px;
  background-color: rgb(247, 38, 38);
  border-radius: 50%;
}

.footer-player__container {
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
}

.footer-player__mute {
  border: none;
  background: none;
  padding: 0;
  margin: 0 0 0 40px;
}

.footer-player__mute svg {
  color: white;
  width: 20px;
  height: 20px;
}

.footer-player__artist {
  overflow: hidden;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: rgb(255, 255, 255);
  text-align: left;
  font-size: 16px;
}

.footer-player__song {
  color: rgb(247, 38, 38);
  text-align: left;
  font-size: 13px;
  margin: 0;
}

.footer-player__album-cover {
  border-radius: 20px;
  width: 60px;
  height: 60px;
  margin-right: 15px;
}

.footer-player__control {
  border: none;
  padding: 0;
  border-radius: 20px;
  width: 60px;
  height: 60px;
  margin: 0 15px 0 0;
  position: relative;
}

.footer-player__control-button {
  position: absolute;
  width: 30px;
  height: 30px;
  box-sizing: border-box;
  left: 25px;
  top: 30px;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  cursor: pointer;
}

.footer-player__control-button svg {
  color: white;
  width: 12px;
  height: auto;
  margin-left: 2px;
}

.footer-player__control-item {
  height: 10px;
  width: 3px;
  border-radius: 50% / 10%;
  background-color: rgb(255, 255, 255);
  margin: 0 1.5px;
}

.footer-player__track {
  flex-grow: 1;
  width: calc(100% - 140px);
}

.footer-player__volume-progress {
  display: none;
}

.footer-player__track-time {
  display: none;
}

@media screen and (max-width: 1199px) {
  .iekbcc0.ju367v56.ju367v3f.ju367v40.ju367v4l.ju367vp.ju367v1f,
  .iekbcc0.ju367vam.ju367v5y.ju367v8y {
    display: none !important;
  }
  .iekbcc0._1ckjpok3._1ckjpok1.ju367vay.ju367vdd.ju367v14.ju367v18.ju367v1a.ju367ve7.ju367vp.ju367v1f.ju367v6g.ju367v8v {
    width: calc(100vw - 20px);
  }
  .iekbcc0.ju367vp.ju367v1f.ju367v57._1vwt0cg3 {
    min-width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    padding: 0;
    width: 1200px;
    margin: 0 auto;
  }

  .container-w {
    width: 100%;
    padding: 20px;
    margin: 0 0 30px 0;
  }

  .text-montserrat {
    font-size: 20px;
    line-height: 24.38px;
  }

  .button-red-l {
    max-width: 367px;
    height: 57px;
    font-size: 20px;
    border-radius: 12px;
    /* margin: 40px 0; */
    line-height: 57px !important;
  }

  .button-black-l {
    max-width: 352px;
    margin-bottom: 0;
    font-size: 18px;
  }

  .header__preview {
    height: 100vh;
    margin-bottom: 120px;
  }

  .header__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 30px;
    justify-content: space-between;
    align-items: center;
  }

  .header__logo {
    display: flex;
    flex-direction: row;
    height: 60px;
    order: 1;
    margin: 0 50px 0 0;
    top: 0;
    left: 0;
  }

  .header__logo-img {
    /*margin-right: 22px;*/
  }

  .header__logo-title {
    line-height: 20px;
  }

  .header--menu-open .header__nav-container,
  .header__nav-container {
    order: 2;
    display: flex;
    margin: 0 70px 0 0;
  }

  .header__nav-h3 {
    display: none;
  }

  .header__nav {
    padding: 0;
  }

  .header__nav-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
  }

  .header__nav-item {
    margin: 0 60px 0 0;
  }

  .header__nav-item::before {
    display: none;
  }

  .header__lang-container {
    order: 3;
    display: flex;
    flex-direction: row;
    width: auto;
    justify-content: flex-start;
  }

  .header__lang-container::after {
    content: '';
    display: block;
    width: 1px;
    height: 15px;
    background-color: rgb(122, 122, 122);
    position: relative;
    top: 8px;
  }

  .header__lang,
  .header__lang:last-child {
    margin-right: 30px;
    width: auto;
  }

  .header__lang-show {
    display: inline;
  }

  .header__menu-button {
    display: none;
  }

  .header__social {
    order: 4;
    margin: 2px 0 0 28px;
    display: flex;
  }

  .header__social .header-player__album-button {
    display: none;
    position: relative;
  }

  .header__social-link {
    display: block;
    width: 20px;
    height: 20px;
    color: white;
  }

  .header__social-link:not(:first-child) {
    margin-left: 20px;
  }

  .header__social-link svg,
  .header__social-link img {
    width: 24px;
    height: 24px;
  }

  .header--menu-open .header-player,
  .header__player {
    order: 4;
    height: 400px;
    flex-wrap: wrap;
    /* margin: 200px 0 0; */
    align-items: baseline;
    position: absolute;
    top: 50%;
    transform: translateY(-75%);
    width: 1200px;
  }

  .header-player__title-container {
    padding: 0 0 0 110px;
    margin: 0;
  }

  .header-player__title {
    font-size: 36px;
    text-align: left;
    margin: 35px 0 5px;
    line-height: 55.4px;
  }

  .header-player__mixtape-container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .header-player__mixtape-by {
    font-size: 16px;
    margin-right: 15px;
    display: inline;
  }

  .header-player__opensea-container {
    display: none;
  }

  .header-player__album-button {
    margin: 0;
    border: none;
    font-size: 18px;
    height: auto;
    width: auto;
    background: none;
    padding: 0 !important;
  }

  .header-player__album-button img {
    width: 30px;
    height: 30px;
    margin-right: 15px;
  }

  .header-player__description {
    text-align: left;
    width: 700px;
    margin: 50px 0;
    display: block;
  }

  .header-player__mint-button {
    /* margin: 50px 0 0; */
  }

  .header-player__cover {
    width: 400px;
    height: 400px;
    order: 4;
    margin-left: auto;
  }

  .header-player__control {
    top: 40px;
  }

  .twitter-comment {
    display: block;
    margin: 0 0 120px;
  }

  .twitter-comment__container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 30%;
    margin: 0 auto;
    padding: 19px 30px;
    box-sizing: border-box;
    align-items: center;
    cursor: pointer;
  }

  .twitter-user {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 20px;
  }

  .twitter-comment__p {
    text-align: left;
    font-size: 18px;
  }

  .twitter-comment__share {
    font-size: 15px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 160px;
    white-space: nowrap;
    align-items: center;
    color: rgb(0, 0, 0);
  }

  .twitter-comment__share img {
    width: 18px;
    height: 18px;
    margin-right: 15px;
  }

  .header__video {
    display: block;
    cursor: pointer;
  }

  .header__preview video {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    transition: 1s opacity;
  }

  .header__spectrum-duration {
    right: 10px;
    bottom: 10px;
  }

  /* mission */
  .mission {
    margin: 0 0 180px;
  }

  .mission__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .mission__container-col {
    margin: 0 100px 0 0;
  }

  .mission__block {
    max-width: 620px;
  }

  .mission__block-button {
    margin: 50px 0 0;
  }

  .heading-h2 {
    font-size: 44px;
    text-align: left;
    margin: 0 0 40px;
    padding: 0 0 0 90px;
  }

  .heading-h2::before {
    content: '';
    position: absolute;
    left: 0px;
    top: 22px;
    width: 60px;
    height: 4px;
    background-color: rgb(247, 38, 38);
  }

  .mission__p {
    text-align: left;
    font-size: 20px;
  }

  .mission__h3 {
    text-align: left;
    font-size: 30px;
    margin: 40px 0 30px;
  }

  .mission__video-block {
    max-width: 444px;
    width: 100%;
  }

  .mission__video-container,
  .react-player__preview {
    background-position: center;
    background-size: cover;
    height: 600px;
  }

  .banner {
    max-width: 1200px;
    margin: 0 auto 180px;
    border-radius: 20px;
    overflow: hidden;
  }

  .banner__container {
    padding: 60px 50px;
  }

  .banner__container-button {
    margin: 0 0 30px;
  }

  .button-black-m {
    width: 297px;
    height: 50px;
    /* margin: 0 0 30px 0; */
    font-size: 25px;
  }

  .banner__p {
    text-align: left;
  }

  .banner__p:last-of-type {
    margin-bottom: 0;
  }

  .mint-block {
    padding: 0;
    margin: 0 auto 180px;
  }

  .mint-block__heading {
    line-height: 48px;
  }

  .mint-block__hashtag {
    font-size: 44px;
    font-weight: 900;
    text-transform: uppercase;
    display: inline;
  }

  .mint-block__statistic {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
  }

  .mint-block__container {
    width: 50%;
    padding: 30px 30px 20px;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
  }

  .mint-block__album-cover {
    width: 80px;
    height: 80px;
    margin-right: 30px;
  }

  .mint-block__h3 {
    margin: 8px 0 5px 0;
  }

  .mint-block__p {
    text-align: left;
    font-size: 18px;
  }

  .mint-block__p a {
    display: inline-block;
    margin-left: 5px;
  }

  .mint-block__donate-table tbody {
    display: flex;
    flex-direction: row;
  }

  .mint-block__donate-table tr {
    display: flex;
    flex-direction: column;
    margin: 0 30px 0 0;
    align-items: center;
  }

  .mint-block__donate-table tr td:first-of-type {
    margin: 0 0 15px 0;
    font-size: 13px;
  }

  .mint-block__donate-table tr td:last-of-type {
    height: 40px;
    font-size: 18px;
  }

  .mint-block__total-container {
    flex-direction: row;
    flex-wrap: nowrap;
    padding-top: 20px;
    align-items: center;
    justify-content: space-between;
  }

  .mint-block__total-container img {
    display: none;
  }

  .mint-block__donate .button-red-m {
    max-width: 200px;
    font-size: 25px;
    border-radius: 16px;
    margin: 0;
  }

  .mint-block__donate-bar {
    flex-grow: 1;
  }

  .mint-block__result-table {
    max-width: 240px;
    border-collapse: collapse;
  }

  .mint-block__donate-bar {
    max-width: 600px;
    height: 12px;
    border-radius: 6px;
    margin: 0;
  }

  .mint-block__donate-bar::-webkit-progress-bar {
    border-radius: 6px;
  }

  .mint-block__donate-bar::-webkit-progress-value {
    border-radius: 6px;
  }

  .mint-block__donate {
    max-width: 200px;
  }

  .mint-block__track {
    order: 1;
    max-width: 584px;
  }

  .mint-block__donate-container {
    order: 2;
    width: auto;
    padding-right: 0;
  }

  .mint-block__donate-container tbody {
    justify-content: flex-end;
  }

  .mint-block__donate-container tr:last-child {
    margin: 0;
  }

  .mint-block__total-container {
    order: 4;
    margin-bottom: 0;
  }

  .mint-block__button,
  .mint-block__account-button {
    order: 5;
  }

  .mint-block__button {
    width: 200px;
    margin: 20px 30px 0 20px;
  }

  .mint-block__opensea {
    order: 3;
    margin: 45px 30px 0 50px;
    position: initial;
  }

  .mint-block__footer-hidden {
    transform: translateY(-90%);
    max-height: 0;
  }

  .mint-block__footer {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 100%;
    overflow: hidden;
    position: relative;
    top: -20px;
    transition: 1s ease-in-out;
  }

  .mint-block__footer-container {
    box-sizing: border-box;
    min-height: 180px;
    border-bottom: 43px solid transparent;
    border-image: url(../images/national-border.png) 43 repeat;
    background-color: rgb(247, 38, 38);
    padding: 20px 30px 0;
  }

  .mint-block__connect-wallet-button,
  .mint-block__connect-wallet button {
    margin: 30px auto;
    height: 64px;
    cursor: pointer;
  }

  .mint-block__quantity {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    box-sizing: border-box;
    align-items: center;
    padding: 30px 0 0;
  }

  .mint-block__quantity-counter {
    font-size: 25px;
    display: flex;
    align-items: center;
    margin: 0;
    justify-content: flex-start;
  }

  .mint-block__quantity-counter-title {
    display: contents;
    width: auto;
    margin: 0;
  }

  .mint-block__mint-button {
    height: 64px;
    margin: 0 0 0 auto;
    width: 191px;
    cursor: pointer;
  }

  .mint-block__counter-button {
    border: none;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    width: 50px;
    height: 50px;
    font-size: 40px;
    line-height: 50px;
    cursor: pointer;
  }

  .mint-block__counter-button--minus {
    margin-left: 30px;
  }

  .mint-block__counter-button--plus {
    margin-right: 30px;
  }

  .mint-block__counter-value {
    width: 60px;
  }

  .mint-block__loading {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 42px;
  }

  @keyframes lds-roller {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .mint-block__loader {
    animation: lds-roller 1.2s cubic-bezier(0.69, 0, 0.44, 1) infinite;
    margin-right: 10px;
    color: white;
    width: 30px;
    height: 30px;
  }

  .mint-block__loading-span {
    font-size: 25px;
    margin-left: 10px;
  }

  .mint-block__tx-fail {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
  }

  .mint-block__tx-fail-span {
    font-size: 25px;
    margin-left: 10px;
  }

  .mint-block__tx-fail-button {
    margin: 30px 20px;
    height: 64px;
    cursor: pointer;
  }

  .mint-block__complete {
    padding: 42px 0;
  }

  .mint-block__transaction {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  }

  .mint-block__thanks {
    font-size: 25px;
    margin: 0 0 10px;
    text-align: left;
  }

  .mint-block__thanks-container {
    text-align: left;
    padding: 0 0 20px 0;
  }

  .mint-block__thanks-transaction {
    font-size: 18px;
    font-weight: 500;
    text-align: left;
  }

  .mint-block__transaction-code {
    background-color: rgb(244, 244, 244);
    border-radius: 10px;
    color: rgb(0, 0, 0);
    line-height: 0;
    padding: 8px;
    margin: 0 10px;
  }

  .mint-block__see-on {
    width: 210px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 20px auto;
    color: white;
  }

  .mint-block__see-on img {
    margin-left: 15px;
    width: 33px;
    height: 33px;
  }

  .mint-block__comment {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 20px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  }

  .mint-block__comment-album {
    width: 130px;
    height: 130px;
    border-radius: 20px;
    margin-right: 30px;
  }

  .mint-block__comment-nft {
    display: flex;
    align-items: center;
  }

  .mint-block__nft-title {
    width: 350px;
    /* font-size: 25px; */
    text-align: left;
    line-height: 30px;
  }

  .mint-block__nft-title p {
    font-size: 30px;
    line-height: 40px;
    text-align: left !important;
    margin-top: 5px;
  }

  .mint-block__comment-leave {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .mint-block__comment-leave p {
    font-size: 15px;
    width: 250px;
  }

  .mint-block__comment-button {
    margin: 0 0 10px 0;
    width: 305px;
    height: 64px;
  }

  .mint-block__social {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
  }

  .mint-block__social p {
    max-width: 600px;
    text-align: left;
    margin: 0;
  }

  .mint-block__social-link {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: none;
    background-color: rgb(0, 0, 0);
    margin-left: 30px;
    padding: 5px 0 0;
  }

  .mint-block__social-link svg,
  .mint-block__social-link img {
    width: 25px;
    height: 25px;
    color: white;
  }

  /*.mint-block--open-footer {*/
  /*margin-bottom: 100px;*/
  /*}*/

  .audience {
    margin: 0 0 150px 0;
  }

  .audience__heading {
    border: none;
  }

  .audience .container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  .audience__p {
    max-width: 740px;
    margin: 0;
    text-align: left;
    font-size: 15px;
    padding: 5px 0 0 30px;
    line-height: 18.4px;
  }

  .button-white-l {
    width: 157px;
    font-size: 18px;
    margin: 0 auto;
  }

  .audience__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .audience__item {
    width: calc(50% - 5px);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    background-color: rgb(243, 244, 246);
    border-radius: 20px;
    height: 60px;
    box-sizing: border-box;
    margin: 0 10px 10px 0;
  }

  .audience__item a {
    display: block;
  }

  .audience__item:nth-of-type(n + 6) {
    display: flex;
  }

  .audience__item:nth-of-type(2n) {
    margin-right: 0;
  }

  .audience__avatar {
    margin-right: 20px;
    width: 40px;
    height: 40px;
  }

  .audience__name {
    font-size: 18px;
    margin-right: 20px;
    width: auto;
  }

  .audience__span {
    border-radius: 16px;
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
    padding: 8px 10px;
    font-size: 13px;
    font-weight: 700;
    display: inline-block;
    height: 32px;
    line-height: 1.25;
    margin: 0;
  }

  .audience__span-address {
    display: inline-block !important;
  }

  .audience .audience__span:last-of-type {
    margin-left: auto;
  }

  .audience__button-container {
    width: 100%;
  }

  .team {
    margin: 0 0 180px;
  }

  .team .popup__member-card-container {
    display: block;
  }

  .team__container {
    padding: 0;
    width: 1200px;
    margin: 0 auto;
  }

  .team__gallery {
    width: 100%;
    overflow-x: visible;
  }

  .team__gallery-container {
    width: 100%;
    padding: 0;
    height: 500px;
    margin-bottom: 40px;
  }

  .team__gallery-item {
    margin: 0 30px 0 0;
    width: 182px;
    flex-grow: 1;
    height: auto;
  }
  .team .container {
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .team__team-button {
    margin: 0;
    width: 180px;
  }

  .team__team {
    margin: 0;
    /* display: none; */
  }

  .team__gallery-item--active {
    flex-grow: 2;
    width: 393px;
  }

  .team__gallery-member-surname,
  .team__gallery-member-position {
    display: none;
  }

  .team__gallery-item--active .team__gallery-member-surname,
  .team__gallery-item--active .team__gallery-member-position {
    display: inline;
  }

  .team__gallery-member-name {
    transform: rotate(-90deg);
    left: 0;
  }

  .team__gallery-item--active .team__gallery-member-name {
    left: 20px;
    transform: rotate(0);
    text-align: left;
  }

  .main-bottom {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 1200px;
    margin: 0 auto 120px;
  }

  .main-bottom .border {
    display: none;
  }

  .main-bottom .container {
    padding: 0;
    width: auto;
  }

  .faq {
    width: 850px;
    margin: 0 50px 0 0;
  }

  .faq p {
    font-size: 18px;
  }

  .faq__question-container {
    width: auto;
    margin: 0 0 20px 0;
  }

  .faq__question {
    margin-bottom: 33px;
  }

  .faq__question-toggle {
    width: 33.33px;
    height: 33.33px;
    line-height: 33.33px;
    font-size: 25px;
    /*border-radius: 14px;*/
    padding: 1px 0 0;
  }

  .faq__heading {
    border: 0;
  }

  .faq__question {
    margin: 0;
  }

  .faq__question h5 {
    font-size: 25px;
  }

  .faq__question-container--open .faq__question {
    margin-bottom: 18px;
  }

  .twitter {
    width: 375px;
  }

  .twitter__header {
    order: 1;
    margin: 0 0 40px 0;
  }

  .twitter__tweet {
    width: auto;
    margin-bottom: 10px;
  }

  .twitter__dots-list {
    margin: 0;
  }

  .twitter__dot {
    display: none;
  }

  .twitter__link-container {
    display: flex;
    justify-content: center;
  }

  .twitter__button {
    padding: 0 20px;
    margin: 0 auto;
    width: 291px;
    order: 3;
  }

  .twitter__link-text {
    display: block;
    font-size: 15px;
    margin-left: 10px;
  }

  .twitter__tweets {
    order: 2;
    margin-bottom: 20px;
  }

  .twitter__tweets iframe {
    border-radius: 20px;
  }

  .twitter__tweet:nth-child(n + 2) {
    display: block;
  }

  .border {
    display: none;
  }

  /* popups */
  .popups {
    background-color: rgb(65, 171, 225);
    padding: 20px;
    margin-bottom: 120px;
  }

  .popup-container {
    padding: 50px;
    background-color: rgb(243, 244, 246);
    border-radius: 20px;
    width: fit-content;
    margin-bottom: 50px;
  }

  .popup__member-card-container {
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 50px;
    margin-bottom: 40px;
    width: 1100px;
  }

  .popup__team-member {
    height: 500px;
    width: 393px;
    position: relative;
    border-radius: 20px;
    /* background-image: url(../images/team/photo.jpg); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(255, 255, 255);
  }

  .popup__member-name {
    position: absolute;
    left: 20px;
    bottom: 45px;
    margin: 0;
    font-size: 25px;
    line-height: 40px;
  }

  .popup__member-position {
    position: absolute;
    left: 20px;
    bottom: 20px;
    margin: 0;
    color: rgba(255, 255, 255, 0.8);
    font-weight: 500;
  }

  .popup__member-card {
    display: flex;
    flex-direction: row;
  }

  .popup__member-photo-container {
    margin-right: 50px;
  }

  .popup__member-photo-container .popup__team-member {
    margin-bottom: 20px;
  }

  .popup__member-social-button {
    width: 100%;
    height: 60px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    border: 1px solid rgb(122, 122, 122);
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }

  .popup__member-social-button:hover,
  .popup__member-social-button:hover svg {
    color: rgb(247, 38, 38);
  }

  .popup__member-social-button img,
  .popup__member-social-button svg {
    margin-right: 10px;
  }

  .popup__member-profile {
    max-width: 620px;
  }

  .popup__member-title {
    position: relative;
    text-align: left;
    margin: 0 0 30px 0;
    width: 100%;
  }

  .popup__member-card-name {
    font-size: 40px;
    line-height: 55px;
    font-weight: 900;
    display: block;
    margin: 0 0 5px 0;
    text-align: left;
  }

  .popup__member-card-role {
    color: rgb(34, 34, 34);
  }

  .popup__member-close-button,
  .popup__member-inst-button {
    position: absolute;
    top: 17px;
    right: 0;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    background: none;
    width: 50px;
    height: 50px;
    padding: 5px 0 0;
  }

  .popup__member-close-button span {
    position: absolute;
    display: block;
    width: 2px;
    height: 18px;
    background-color: rgb(34, 34, 34);
    left: 48%;
    top: 16px;
  }

  .popup__member-close-button span:first-child {
    transform: rotate(45deg);
  }

  .popup__member-close-button span:last-child {
    transform: rotate(-45deg);
  }

  .popup__member-info {
    position: relative;
    margin-bottom: 30px;
    box-sizing: border-box;
    padding-left: 23px;
    text-align: left;
  }

  .popup__member-info:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 3px;
    height: 100%;
    border-radius: 1.5px;
    background-color: rgb(247, 38, 38);
  }

  .popup__member-video {
    width: 620px;
    height: 360px;
    position: relative;
    border-radius: 20px;
    background-image: url(../images/team/photo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .popup__play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    background: none;
  }

  .popup__play-button img {
    width: 83.56px;
    height: 83.56px;
  }

  .popup-msg {
    width: 512px;
    border-radius: 20px;
    padding: 20px;
    margin: 50px;
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
  }

  .popup-msg__header {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    align-items: center;
  }

  .popup-msg__header span {
    font-size: 15px;
    margin-right: 20px;
  }

  .popup-msg__header span:last-child {
    margin-right: 0;
  }

  .popup-msg__header > img {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin-right: 20px;
  }

  .popup-msg__text {
    text-align: left;
    margin-bottom: 20px;
    font-size: 15px;
    line-height: 18px;
  }

  .popup-msg__code {
    font-size: 13px;
    background-color: rgb(244, 244, 244);
    padding: 8px;
    border-radius: 10px;
  }

  .popup-msg__link {
    border: none;
    background: none;
    width: 20px;
    height: 20px;
  }

  .popup-msg__date {
    margin-left: auto;
  }

  .popup-msg__footer {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-end;
    font-size: 16px;
    line-height: 20px;
  }

  .popup-msg__footer-row {
    height: 32px;
    margin-bottom: 8px;
  }

  .popup-msg__bordered-span {
    display: inline-block;
    background-color: rgb(244, 244, 244);
    padding: 8px;
    border-radius: 10px;
    box-sizing: border-box;
    margin-left: 20px;
    font-size: 13px;
    line-height: 16px;
  }

  .footer {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .footer__container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 1200px;
    margin: 0 auto;
  }

  .footer__description-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 500px;
    margin-bottom: 80px;
  }

  .footer__heart {
    order: 2;
    width: 34px;
    height: 32px;
    margin: 0;
  }

  .footer__title {
    order: 1;
    width: auto;
    margin: 0 20px 20px 0;
    font-size: 35px;
  }

  .footer__copyrights {
    order: 3;
    width: auto;
    font-size: 18px;
    margin: 0;
  }

  .footer__rights {
    order: 4;
    width: auto;
    font-size: 18px;
    margin: 0;
  }

  .footer__social {
    margin: 0;
  }

  .footer__social-link {
    width: 70px;
    height: 70px;
    margin: 0;
    padding: 17px;
  }

  .footer__social-link:not(last-of-type) {
    margin: 0 10px 0 0;
  }

  .footer__social-link svg,
  .footer__social-link img {
    width: 35px;
    height: 35px;
    color: black;
  }

  .footer__social-link .opensea {
    width: 25px;
    height: 25px;
    padding: 6px;
    background: black;
    border-radius: 100%;
  }

  .footer-player {
    display: none;
    margin: 0;
  }

  .footer-player__container {
    padding: 0 20px;
  }

  .footer-player__control {
    width: 80px;
    height: 80px;
  }

  .footer-player {
    height: 110px;
  }

  .footer-player__album-cover {
    width: 80px;
    height: 80px;
    margin-right: 20px;
    order: 1;
  }

  .footer-player__control-button {
    position: relative;
    width: 50px;
    height: 50px;
    order: 3;
    top: 0;
    left: 0;
    margin: 0 50px 0 0;
  }

  .footer-player__track {
    order: 2;
    width: auto;
  }

  .footer-player__artist {
    font-size: 22px;
  }

  .footer-player__song {
    font-size: 15px;
  }

  .footer-player__control-item {
    height: 16.89px;
    width: 5px;
    margin: 0 2.5px;
  }

  .footer-player__volume {
    order: 4;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .footer-player__mute {
    margin: 0 30px 0 0;
    width: 25px;
    height: 25px;
  }

  .footer-player__volume-progress {
    display: block;
    position: relative;
    padding-bottom: 15px;
  }

  .footer-player__volume-bar {
    width: 150px;
    height: 3px;
    border-radius: 1.5px;
    margin: 0;
    border: none;
  }

  .footer-player__volume-bar::-webkit-progress-bar {
    border-radius: 1.5px;
    background-color: rgb(215, 215, 215);
  }

  .footer-player__volume-bar::-webkit-progress-value {
    border-radius: 1.5px;
    background-color: rgb(247, 38, 38);
  }

  .footer-player__volume-marker {
    width: 10px;
    height: 10px;
    background-color: rgb(247, 38, 38);
    border-radius: 50%;
    position: absolute;
    left: 75%;
    top: 11.5px;
  }

  .footer-player__track {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 50px 0 0;
  }

  .footer-player__track-time {
    display: block;
    font-size: 15px;
  }
}
